/* 
    Created on : 27-juil.-2018, 10:39:27
    Author     : twoba
*/
body{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(17,122,255,0.7455182756696428) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(17,122,255,0.7455182756696428) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(17,122,255,0.7455182756696428) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#117aff",GradientType=1); 
}
#TopMenu{
    margin: 2%;
    height: 8%;
    top : 0;
    width:95%;
    text-align: center;
    padding-left: 12%;
    padding-right:21%;
    /*border : 1px black solid;*/
}

#Bottom{
    margin: 2%;
    min-height: 8%;
    position: absolute; 
    bottom :0;
    width:95%;
    /*border : 1px black solid;*/
}

#Corps{	
    display: flex;
    text-align: center;
	overflow:auto;
    /*border : 1px black solid;*/
}

#LeftSide{
    width: 10%;
    /*border : 1px black solid;*/
}

#Content{
	margin-left:auto;
	margin-right:auto;
    width: 55%;
	height:650px;
	overflow:auto;
	text-align:center;
    /*border : 1px black solid;*/
}

#RightSide{
    width: 21%;
	padding-right:1%;
   /* border : 1px black solid;*/
}

.login-page {
  width: 720px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

#id_confrmdiv
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    /*position: fixed;*/
    width: 300px;
    left: 50%;
    /*margin-left: -150px;*/
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#id_confrmdiv button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#id_confrmdiv button:hover
{
    background-color: #ddd;
}
#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}